/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 0%, 0%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: rgb(0, 0, 0);
  --ff-primary: 'Helvetica', Arial, sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 0.3rem;
  opacity: 0.8;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
img {
  max-width: 100%;
}
/*  global classes */

/* section */
.section {
  padding: 3em;
}

.welcome-page {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3)),
    url('./images/hero.png');
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 50vh;
  color: white;
  display: grid;
  padding: 2em;
  place-items: center;
}
@media screen and (min-width: 1000px) {
  .welcome-page {
    min-height: 80vh;
  }
}

.welcome-page h1 {
  opacity: 0.9;
}
@keyframes blinker {
  to {
    opacity: 0;
  }
}

.welcome-page p {
  animation: blinker3 1s ease-in-out infinite alternate;
  color: white;
  opacity: 0.8;
}
@keyframes blinker2 {
  to {
    opacity: 0;
  }
}

.welcome-page button {
  animation: blinker3 1s ease-in-out infinite alternate;
  padding: 1em;
  display: flex;
  margin-top: 2em;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
.welcome-page button:hover {
  background-color: #222;
  color: var(--clr-white);
}
@keyframes blinker3 {
  to {
    opacity: 0;
  }
}
.forward-icon {
  margin-left: 0.5em;
}
.page-description {
  text-align: center;
  padding: 3em;
}
.patners {
  text-align: center;
  padding: 2em;
}
.patners-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.patners-logos img {
  max-width: 200px;
  margin: 0 3em;
}
/* nav section */
.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  box-shadow: var(--light-shadow);
  padding: 0.6em 1em;
  width: 100%;
}
.logo {
  width: 100px;
  height: 70px;
  color: #fff;
  background-color: black;
  text-align: center;
  border-radius: 5px;
}

.logo h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-top: 0.3em;
}
.logo p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  opacity: 1;
}

.cart-btn {
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.loading {
  height: 80vh;
  display: grid;
  justify-content: center;
  place-items: center;
}
.cart-items {
  position: absolute;
  top: -15px;
  right: -8px;
  background: red;
  color: white;
  padding: 0 5px;
  border-radius: 30%;
  font-size: 1.2rem;
  color: var(--mainWhite);
}
.cart-icon {
  font-size: 2em;
}
.fav-icon {
  font-size: 2em;
}
/* end of navbar */

/* home styling */
.market-place-text {
  margin-top: 3em;
  text-align: center;
  text-transform: capitalize;
}
.products-container {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: 13em;
  margin-inline: 2em;
}

/* filter items section */

.filterBtns {
  border: 1px solid black;
  background-color: white;
  top: 120px;
  left: 24px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 15em;
  padding: 0 0.5em;
  transition: var(--transition);
}
.filter-list {
  display: none;
}
.list-items {
  cursor: pointer;
  width: 100%;
  border: 1px solid black;
}
.filter-text {
  font-size: 1.3rem;
}
.filter-icon {
  margin-top: 0.3em;
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .filterBtns {
    display: none;
  }
}
/* end of mobile */
.filter-products-desktop {
  display: none;
}
@media screen and (min-width: 600px) {
  .filter-products-desktop {
    display: block;
    width: 15em;
    height: 100%;
    border: 1px solid var(--clr-black);
    top: 10em;
    padding: 2em 0;
    position: fixed;
    overflow-y: scroll;
  }
  .filter-products-desktop h5 {
    border-bottom: 1px solid var(--clr-grey-1);
  }

  .filter-products-desktop p {
    padding: 0.5em;
    cursor: pointer;
    text-transform: capitalize;
  }

  .filter-products-desktop p:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
    transition: var(--transition);
  }
  .products-container {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    margin-left: 15em;
    margin-top: 10em;
  }
}
.product-information {
  padding: 0.5em 1em;
}
.product {
  background-color: white;
  box-shadow: var(--dark-shadow);
}
.product img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
/* ********* */
.products-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favourite-btn {
  border: 0;
  background-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .product img {
    width: 300px;
    height: 250px;
  }
}
.product-info-toggle {
  font-size: 0.7rem;
  color: var(--clr-white);
  background-color: black;
  border-radius: 5px;
  padding: 0.2em;
}
.product-info-toggle:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: var(--transition);
  border: 1px solid var(--clr-black);
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  background-color: var(--clr-white);
  padding: 0.5em;
  border: 0;
  color: var(--clr-black);
  cursor: pointer;
  border-radius: 7px;
  font-size: 0.65rem;
  margin-top: 0.3em;
}

.add-to-cart-btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
  transition: var(--transition);
}
.add-to-cart-icon {
  font-size: 0.8em;
  margin-left: 0.3em;
}

.cart-container {
  height: auto;
  display: grid;
  justify-content: center;
}
.cart-section {
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: 500px;
  border-bottom: 1px solid var(--clr-grey-1);
}
.cart-item--image--container img {
  width: 100px;
  height: 100px;
  margin-right: 15em;
  border-radius: 50%;
}
.delete-btn {
  border: 0;
  background: transparent;
}
.delete-icon {
  font-size: 1.3rem;
  color: red;
  cursor: pointer;
}
.quantity-amount {
  margin-inline: 0.3em;
  font-weight: 600;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.clear-cart {
  text-align: center;
  margin-bottom: 1em;
}

/* product details section */

.product-details {
  margin-top: 10em;
  margin-inline: 2em;
}
.product-detail-image-container {
  position: relative;
  max-width: 35em;
}
@media screen and (min-width: 600px) {
  .product-details {
    display: flex;
    align-items: center;
  }
  .product-detail-image-container {
    margin-right: 2em;
  }
  .product-detail-image-container + div {
  }
}
.prev-icon {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.next-icon {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.product-details-title {
  margin-top: 2em;
}
.product-details-price {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 0.5em;
  width: 5em;
  border-radius: 5px;
  margin: 0.8em 0;
}
.product-qualities {
  padding: 2em 0;
}
.product-qualities ul {
  padding: 0.3em 2em;
}
